/* * {
    border: 1px solid red;
} */

body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

}

/****************************************** HEADER *****************************************/
/****************************************** HEADER *****************************************/
/****************************************** HEADER *****************************************/

.header {
    background-color: #ff3d00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    flex-wrap: wrap;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px
}

.header-link {
    display: flex;
}

.header-link ul {
    flex-wrap: wrap;
}


a {
    color: #E5E7EB;
    font-size: 12px;
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    display: flex;
    gap: 5px;
    padding-right: 50px;
}

img {
    height: 50px;
    width: auto;
}



/************************************* Sub Menu******************************************/


/* Hide default checkbox */
#menu-toggle {
    display: none;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    position: relative;
    display: inline-block;
    z-index: 1;
}

ul li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}

ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fb5407;
    padding: 0;
    min-width: 150px;
    z-index: 999;
}

ul li ul li {
    display: block;
}

ul li:hover ul {
    display: block;
}

/************************************* Mobile Style ********************************************/
#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 26px;
    cursor: pointer;
    padding: 10px;
    background: #fb5407;
    color: #fff;
}

/*************************************** Mobile view ******************************************/
@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    ul.menu {
        display: none;
        width: 100%;
        background: #ff3d00;
    }

    #menu-toggle:checked + .menu-icon + ul.menu {
        display: block;
    }

    ul li {
        display: block;
        border-bottom: 1px solid #ff3d00;
    }

    ul li ul {
        position: static; /* Para nasa harap, hindi nawawala */
    }

    ul li:hover ul {
        display: block; /* Pwede pa ring i-hover o i-tap */
    }
}





/****************************************** BODY *****************************************/
/****************************************** BODY *****************************************/
/****************************************** BODY *****************************************/


/****************************************** Section 1 *************************************/
.section-1 {
    background-color: #f46709;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 50px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.section-1-main-text {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

.section-1-secondary-text {
    color: #E5E7EB;
    font-size: 13px;
    padding-bottom: 10px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}


.card-main-image img {
    width: 300px;
    height: auto;
    padding-bottom: 20px;
    cursor: pointer;
}




/****************************************** Section 2 *************************************/

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background: #ffffff;

}

.information {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    padding: 20px;
}

.cards {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    /*Move to Next Line,if the screen is adjusted ,Flex-wrap */
}


.cards-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}

.section-2-secondary-text {
    color: #5e6166;
    font-size: 15px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.card img {

    width: 100px;
    height: auto;
    border: 3px solid #ff3d00;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}




/****************************************** Section 3 *************************************/

.section-3 {
    background-color: #e85420;
    display: flex;
    flex-direction: column;
    padding: 50px;

}

.mission {
    color: #F9FAF8;
    font-size: 36px;
    font-weight: 300;
    padding: 20px;
    text-align: center;

}

.text-mission {
    font-size: 25px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    color: #f2cfcb;
}


.vision {
    color: #F9FAF8;
    font-size: 36px;
    font-weight: 300;
    padding: 20px;
    text-align: center;
    padding-top: 50px;
}

.text-vision {
    font-size: 25px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    color: #f2cfcb;
}



/****************************************** Section 4 *************************************/

.section-4 {
    background-color: white;
    padding: 50px;
}


.section-4-bg {
    background-color: #ce491a;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    flex-wrap: wrap;
}


.section-4-bg-text-1 {
    color: white;
    font-weight: bold;
}

.section-4-bg-text-2 {
    color: #E5E7EB;
}


div .button-2 {
    background-color: #ce491a;
    border-style: none;
    border-radius: 5px;
    color: white;
    margin: 10px;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
    border: 2px solid white;
}



/****************************************** FOOTER *****************************************/
/****************************************** FOOTER *****************************************/
/****************************************** FOOTER *****************************************/

.main-footer {
    background-color: #ff3d00;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 25px;
}

.sub-footer {
    background-color: #ff3d00;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 5px;
}

.footer-text {
    padding: 30px;
    color: #E5E7EB;
}