/* * {
    border: 1px solid red;
} */

body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

}

/* HEADER */

.header {
    background-color: #ff3d00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    /* justify-content: center; */
    flex-wrap: wrap;
}


.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px
}

.header-link {
    display: flex;

}

.header-link ul {
    flex-wrap: wrap;
}


a {
    color: #E5E7EB;
    font-size: 12px;
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    display: flex;
    gap: 5px;
    padding-right: 50px;
    /* flex-wrap: wrap; */
}

img {
    height: 50px;
    width: auto;
}


/* Sub Menu */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    position: relative;
    display: inline-block;
    /* Makes menu items horizontal */
}

ul li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}

ul li ul {
    display: none;
    /* Hide submenu by default */
    position: absolute;
    top: 100%;
    left: 0;
    background: #fb5407;
    padding: 0;
    min-width: 150px;
}

ul li ul li {
    display: block;
    /* Submenu items vertical */
}

ul li:hover ul {
    display: block;
    /* Show submenu on hover */
}




/* BODY */

/* Section 1 */
.section-1 {
    background-color: #f46709;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 50px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.section-1-main-text {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

.section-1-secondary-text {
    color: #E5E7EB;
    font-size: 13px;
    padding-bottom: 10px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);


}


.card-main-image img {

    width: 300px;
    height: auto;
    padding-bottom: 20px;
    cursor: pointer;


}




/* Section 2 */

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background: #ffffff;

}

.information {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    padding: 20px;
}

.cards {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    /*Move to Next Line,if the screen is adjusted ,Flex-wrap */

}


.cards-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}

.section-2-secondary-text {
    color: #5e6166;
    font-size: 15px;
    padding: 5px;
    text-align: center;
    cursor: pointer;



}

.card img {

    width: 100px;
    height: auto;
    border: 3px solid #ff3d00;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}




/* Section 3 */

.section-3 {
    background-color: #e85420;
    display: flex;
    flex-direction: column;
    padding: 50px;

}

.mission {
    color: #F9FAF8;
    font-size: 36px;
    font-weight: 300;
    padding: 20px;
    text-align: center;
    
}

.text-mission {
    font-size: 25px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    color: #f2cfcb;
}


.vision {
    color: #F9FAF8;
    font-size: 36px;
    font-weight: 300;
    padding: 20px;
    text-align: center;
    padding-top: 50px;
}

.text-vision {
    font-size: 25px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    color: #f2cfcb;
}


